*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
header{
  background: #222222;
  padding: 10px 40px 0px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  position:fixed;
  width: 100%;
  z-index: 2;
}
.hidden{
    height: 80px
}
header ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
}
header ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}
header ul div.items{
  padding: 0 25px;
  display: inline-flex;
}
header ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}
header ul div.items a:hover{
  color: cyan;
}
header ul .search-icon{
  height: 40px;
  width: 180px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
header ul .search-icon input{
  height: 100%;
  width: 140px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}
.btn-login{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e47878;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s;
}
.btn-login:hover{
    background-color: #d33d3d;
}
header ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
header ul .search-icon .icon:hover{
  background: #e6e6e6;
}
header ul .search-icon .icon span{
  color: #222222;
  font-size: 18px;
}
header ul li.btn{
  font-size: 29px;
  flex: 1;
  padding: 0 40px;
  display: none;
}
header ul li.btn span{
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #151515;
  border-radius: 5px;
  cursor: pointer;
  color: #f2f2f2;
  float: left;
}
header ul li.btn span.show:before{
  content: '\f00d';
  float: left;
}
.items-user{
  position:fixed;
  background-color: white;
  width: 180px;
  top: 53px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
}
.items-user hr{
  width: 100%;
  background-color: #cccccc;
  margin-top:5px;
  margin-bottom: 5px;
}
.items-user li{
  display: block;
  width: 100%;
  height: 40px;
}
.items-user li a{
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul .search-icon:hover .items-user{
  display: block;
}
.mobie-alert{
  display: none;
}

@media screen and (max-width: 1025px) {
  header{
    padding: 10px 40px 0px 0px;
  }
  header ul li.logo{
    display: none;
  }
  header ul div.items{
    flex: 4;
  }
}
@media screen and (max-width: 800px){
  header ul li.btn{
    display: block;
  }
  header{
    z-index: 1;
    padding: 9px 40px px 0;
  }
  header ul div.items{
    z-index: -1;
    position: fixed;
    top: -220px;
    right: 0;
    width: 100%;
    background: #222222;
    display: inline-block;
    transition: top .4s;
  }
  header ul div.items.show{
    top: 60px;
  }
  header ul div.items li{
    text-align: center;
    line-height: 25px;
    margin: 30px 0;
    color: #f2f2f2;
  }
  header ul div.items li a{
    font-size: 19px;
  }
}
@media screen and (max-width: 480px) {
  header {
    height: 40px;
    padding-top: 0px
  }
  
  header ul{
    flex-wrap: nowrap;
  }
  header ul li.btn{
    display: none;
  }
  header ul li.logo{
    display: block;
    margin-left: 3px;
  }
  header ul .search-icon{
    height: 30px;
    width: 40vmin;
    margin-right: -20px;
  }
  header ul .search-icon input{
    width: 30vmin;
  }
  header ul li .search-icon {
    height: 30px;
    width: 30px;
  }
  header ul .search-icon .icon{
    line-height: 32px;
  }
  .items-user{
    top:40px;
    width: 40vmin;
  }
  .body:hover .items-user{
    display:none;
  }
  .mobie-alert{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
  }
  .btn-login{
    font-size: 15px;
  }
}
